---
import { getCollection, getEntry } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";

const posts = await getCollection("posts");
const maybeProjects = await getEntry("projects", "index");

if (!maybeProjects) {
  throw new Error("Projects entry not found");
}
const projects = maybeProjects.data.projects;
---

<MainLayout>
	<h2>Posts ✍️</h2>

	<section id="posts">
		{posts.map((post) => (
		  <article><a href={`/${post.id}`}>{post.data.title}</a></article>
	  ))}
	</section>

	<h2 class="projects">
		Open Source <span class="amp">&amp;</span> Other Projects 🚀
	</h2>

	<section id="projects">
		{projects.map((project) => (
		  <article class={project.deprecated ? "deprecated" : ""} title={project.deprecated ? "Deprecated" : undefined}>
			{project.deprecated ? (
			  <>
				{project.name} &ndash; <span>{project.description}</span>
			  </>
			) : (
			  <>
				<a href={project.url}>{project.name}</a> &ndash; <span>{project.description}</span>
			  </>
			)}
		  </article>
		))}
	</section>
</MainLayout>
